streamlit
google-generativeai
langchain
langchain-community
langchain-google-genai
faiss-cpu
pandas
numpy
python-dotenv
PyPDF2
requests
protobuf
pydantic
langchain-core
langchain-text-splitters
langsmith
